
.con{
    width: 100%;
    


}
.banner{
    width: 100%;
    margin-top: 40px;
}
.banner img{
    width: 100%;
}
.start{
    height: 35px;
    width: 100%;
    position: absolute;
    bottom: 10%;
}
.introduce{
    width: 86%;
    margin-left: 8%;
    margin-top: 8%;
}
.introduce h3{
    line-height: 40px;
    height: 40px;
}
.introduce p{
    line-height: 25px;
    color: #9fa2a8;
}
.startSurvey{
    display: block;
    height: 35px;
    width: 60%;
    border-radius: 25px;
    margin: 0 auto;
    background-color: rgb(2, 207, 145) ;
    font-size: 16px;
    text-align: center;
    color: #fff;
    line-height: 35px;
}
.end{
    height: 35px;
    width: 100%;
    z-index: 1000;
    margin-top: 40px;
    /* margin-bottom: 20px; */ 
}
.endSurvey{
    display: block;
    height: 35px;
    width: 60%;
    border-radius: 25px;
    margin: 0 auto;
    background-color: rgb(2, 207, 145) ;
    font-size: 16px;
    text-align: center;
    color: #fff;
    line-height: 35px;
}
.survey {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-container {
    width: 91.5%;
    height: 100%;
}

/* 头部 */
.header {
    width: 92%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 4%;
    z-index: 1000;
    background-color: #fff;
}

.header a {
    display: block;
    width: 30px;
    height: 100%;
    position: fixed;
}

.header a img {
    width: 10px;
    height: 18px;
    margin-top: 11px;
}

.header span {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 550;
    line-height: 40px;
}
#t1 .header{
    width: 92%;
    position: absolute;
    left: 4%;

}
#t1 .header span{
    display: block;
    text-align: center;
    width: 100%;
    height:40px;
    font-size: 18px;
    font-weight: 550;
    line-height: 40px;
    position: absolute;
}
#t3 .header3{
    width: 100%;

}
#t3 .header3 span{
    display: block;
    text-align: center;
    width: 100%;
    height:40px;
    font-size: 18px;
    font-weight: 550;
    line-height: 40px;
}
/* 进度条 */
.progressbar1 {
    margin-top: 40px;
    width: 100%;
    height: 105px;
    position: relative;
}

.progressbar1 .pre {
    position: absolute;
    top: 45px;
    line-height: 20px;
    height: 20px;
    width: 25%;
    font-size: 16px;
    outline: none;
}

.progressbar1 .pre img {
    display: block;
    width: 25px;
    height: 16px;
    margin-top: 2px;
    float: left;
}

.swiper-pagination {
    width: 100%;
    height: 9px;
    background-color: rgb(248, 248, 248) !important;
    position: absolute;
    bottom: 15px;
    border-radius: 5px;
}

.swiper-pagination-progressbar-fill {
    background-color: rgb(2, 207, 145) !important;
    border-radius: 5px;
}

.question {
    width: 100%;
    min-height: 105px;
    font-size: 17px;
    font-weight: 600;
    padding-top: 35px;
}

/* 选项 */
.choose {
    width: 100%;
    z-index: 1001;
    min-height: 280px;
}

.choose .input {
    position: relative;
    border-bottom: 1px solid rgb(244, 244, 244);
    line-height: 53px;
    height: 53px;
    font-size: 16px;
}

.choose .input:nth-child(2n) {
    background-color: rgb(252, 251, 252);
}

.choose input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0.04rem;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.choose label {
    display: block;
    line-height: 50px;
    height: 50px;
    font-size: 15px;
    padding-left: 5%;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;

    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

/* 圆圈 */
.circle {
    height: 15px;
    width: 15px;
    border-radius: 8px;
    border: 0.5px solid #aaa;
    position: absolute;
    right: 16px;
    bottom: 20px;
}

.sel {
    height: 16px;
    width: 16px;
    border-radius: 10px;
    border: 0.5px solid rgb(2, 207, 145);
    position: absolute;
    right: 16px;
    bottom: 20px;
    background-color: rgb(2, 207, 145);
    background-clip: content-box;
    -webkit-background-clip: content-box;
    padding: 2px;
}

.swiper-num {
    position: absolute;
    width: 50px;
    right: 0;
    top: 45px;
    z-index: 2;
}

.swiper-num .active {
    display: inline-block;
    font-size: 17px;
    color: rgb(2, 207, 145);
}
.swiper-num .total {
    display: inline-block;
    font-size: 15px;
}


.container3{
    width: 92%;
    margin-left: 4%;
} 
.summary{
    border: 1px solid #fe7c52;
    margin-top: 40px;
    width: 100%;

}
.summary p{
    width: 100%;
    line-height: 25px;
    padding: 10px;
    color: #fe7c52;
    font-weight: bold;
    overflow: hidden;
}